main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
  margin-bottom: 15px;
}

blockquote > * {
  margin-left: 1em !important;
}

blockquote {
  border-left: 4px solid lightblue;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

@media (min-width: 770px) {
  body {
    width: 650px;
  }
  main#content h3 {
    margin-bottom: 1em;
  }
}
